<div class="row">
    <div class="col-lg">
        <h1>Create Article</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <form action="/articles" method="POST">
            <label for="title">Title: </label><br>
            <input type="text" name="title" placeholder="Title">
            <br><br>
            <label for="content">Article Content: </label><br>
            <textarea name="content" placeholder="Content"></textarea>
            <br><br>
            <input type="submit" id="submit" value="submit">
        </form>
    </div>
</div>